{% extends 'base.html.twig' %} 

{% block title %}
   {{ad.title}}
{% endblock %}

{% block body %}
<div class="container">
   <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
      <div class="container">
           <h1>{{ ad.title }}</h1>
           <p>{{ ad.introduction }}</p>
           <p class="h2">
     <strong>{{ad.rooms}} chambres</strong> pour <strong> {{ ad.price }} euros 
     </strong> par jour
           
           </p>
    
<a href="#"class="btn btn-primary">Réserver</a>
      </div>
</div>

<div class="container">
    <div class="row">
       <div class="col-md-8 mb-3">
          {{ ad.content | raw}}

                          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.url }}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ ad.title }}</h5>
                                <p>{{ image.caption }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
       </div>
      <div class="col">
      <div class="row mb-3 align-items-center"></div>

      <img src="http://placehold.it/64x64" alt="Avatar de Najla">
          <div class="col"> 
          <h3>Najla BenChelly</h3>  
          <span class="badge badge-primary"> 2 annonces 
          </span>
          </div>
      </div>
   </div>
</div>
   <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus quia ratione minima facere, id pariatur sed at nostrum fugiat tenetur, 
   
   sapiente animi mollitia quis harum obcaecati necessitatibus sint consequatur.</p>


   <p> Tenetur maxime laborum iste atque ea eveniet ab molestias repellendus est inventore,
    nemo magni minima similique, id necessitatibus vel ullam corrupti hic! Neque hic nam corporis iusto harum dolores animi?</p>

   <p> Nostrum eos, quaerat voluptatibus totam quas voluptas alias reiciendis 
   unde rem voluptate possimus, maxime deleniti. Molestiae est ipsam iusto doloribus et, delectus hic! Tenetur ab veniam quisquam quasi rem corrupti? 
   </p>

</div>

{% endblock %}
