

{% extends 'base.html.twig' %}
{% block title %}
Bienvenue!
{% endblock %}


{% block header %}
{% endblock %}

{% block body %}
{{dump(ads)}}
<div class="place__container">
        <div class="place-item">
           

            <img src="{{ asset('logo.png') }}" alt="logo" class="logo">

            <div class="place__content-container">
           
                
            </div>
        </div>
        <div class="pink__container"></div>
            
            <div class="place__content-container">
            <img src="{{ asset('cover-main.jpg') }}" alt="logo" class="logo">
                <h4 class="place-item__title">Découvrez les plus beaux endroits cachés de France</h4>
                <a class="btn btn-primary btn-sm" href="{{ path('ads_index') }}" role="button">Découvrir</a>
  </p>
                <p class="place-item__text">Nous avons parcouru toute la france afin de trouver les endroits les plus merveilleux </p>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class=" ">


     <hr class="my-4">
  <p>Vous êtes propriétaire et souhaitez mettre à disposition votre bien  inscrivez-vous   .</p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="{{ path('account_register') }}" role="button">Inscrivez vous</a>
  </p>
  <div class="container"></div>
     <h2 class="h1 my-5">Nos appartements</h2>
    <diw class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad': data.annonce} %}

            {% endfor %}
    
    </diw>
     
     <div class="card-text">
       </div>


   </div>

</div>   
{% endblock %}
